@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
/**/
:root {
    /*=======Main theme colors=======*/
    --first-color: #ffae30;
    --second-color: #adacb3;
    --third-color: rgb(0, 0, 0);
    /*=======Hover colors=======*/
    --hover-color: #614fd0;
    /*=======Background colors=======*/
    --body-bg-color: #fefefe;
    --card-bg-color: #fff;
    --modal-bg-color: #fff;
    --bg-transparent-color: rgba(0, 0, 0, 0.1);
    --transparent-color-01: rgba(0, 0, 0, 0.1);
    --transparent-color-02: rgba(106, 89, 209, 0.1);
    --line-color: #d7d7d7;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: .5ch;
    
    scroll-behavior: smooth;
}

/*NAVIGATION*/

header {
    width: 100%;
}

.nav-button a {
    color: white;
}


.nav-button {
    z-index: 9999;
    position: fixed;
    left: 5%;
    align-items: flex-start;
    top: 40px;
    cursor: pointer;
    color: white;
    transition: transform 0.3s ease;
}

.nav-button:hover,
.nav-close-btn:hover {
    transform: scale(0.9);
}

.nav-close-btn {
    position: absolute;
    background: url(/public/_imgs/close-btn.png);
    background-repeat: no-repeat;
    filter: var(--color-filter);
    background-size: 30px;
    background-position: center;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}


.menu-box {
    z-index: 9999999;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    text-align: left;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: var(--third-color);
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
    opacity: 0;
    transition: .5s ease;
}

.menu-box.active {
    visibility: visible;
    opacity: 1;
}

.nav-box {
    position: absolute;
    top: 2rem;
    padding-left: 4rem;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.ul-box {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .03px;
    line-height: 20px;
    text-align: left;
    text-size-adjust: 100%;
}

.ul-box li {
    padding: .8rem 0;
    transition: transform 0.3s ease;
}

.ul-box li:hover {
    transform: scale(0.99);
}

.ul-box li a {

    color: var(--second-color);
}

a {
    text-decoration: underline 0.10em rgba(0, 0, 0, 0);
    transition: text-decoration-color 900ms;
    text-underline-offset: 5px;
}

a:hover {
    text-decoration-color: var(--second-color);
}


/*====================HOME SECTION=====================*/
.home {
    height: 100%;
    display: block;
    width: 100%;
}


@keyframes fullScreenFade {
    0% {
        background-image: url(/public/_imgs/flavia1ok.jpg), url(/public/_imgs/imp2OKK.jpg);
    }

    20% {
        background-image: url(/public/_imgs/imp2OKK.jpg), url(/public/_imgs/flavia2ok.jpg);
    }

    40% {
        background-image: url(/public/_imgs/flavia2ok.jpg), url(/public/_imgs/vtr6OK.jpg);
    }

    60% {
        background-image: url(/public/_imgs/vtr6OK.jpg), url(/public/_imgs/vander1OKK.jpg);
    }

    80% {
        background-image: url(/public/_imgs/vander1OKK.jpg), url(/public/_imgs/imp3OKK.jpg);
    }

    100% {
        background-image: url(/public/_imgs/imp3OKK.jpg);
    }
}

.header-img {
    backdrop-filter: saturate(80%);
    -webkit-animation-name: fullScreenFade;
    -webkit-animation-direction: alternate;
    /* -webkit-animation-play-state: running; */
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 40s;
    transition-delay: 5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;


    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transition: 5s; */
}



@keyframes logoCall {
    0% {
        opacity: 0;
    }

    55% {
        opacity: 0;
        filter: blur(2px);
    }

    90% {
        filter: blur(0px);
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }

}

@keyframes h1Call {
    0% {
        opacity: 0;
    }

    52% {
        opacity: 0;
        filter: blur(5px);
    }

    70% {
        filter: blur(0px);
    }

    100% {
        opacity: 1;
    }

}

.header-logo {
    display: block;
    text-align: center;
    max-width: 100%;
    position: absolute;
    top: 60px;
    -webkit-animation: logoCall 1.2s steps(90);
    animation: logoCall 1.5s steps(90);
}

@font-face {
    font-family: 'Cormorant Garamond', serif;

}

h2 {
    font-family: 'Cormorant Garamond', sans-serif;
    
    font-size: 2rem;
    text-shadow: rgb(87, 87, 87) 1px 1px 1px;
    
}

h3 {
    
    font-family: 'Cormorant Garamond', serif;
}

.header-logo h2 {
    text-align: center;
}

.main-text-box {
    display: flex;
    margin: auto;
    margin-top: 40vh;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.main-text-content {
    
    text-align: center;
    margin: 0 30px;
    
    
}

.main-text-content h2 {
    display: block;
    -webkit-animation: logoCall 2s steps(90);
    animation: h1Call 2.3s steps(90);

}

.main-text-content h3 {
    text-shadow: rgb(87, 87, 87) 1px 1px 1px;
    margin: 30px;
    -webkit-animation: logoCall 2.5s steps(90);
    animation: h1Call 2.6s steps(90);
}


.header-img .scroll-down {
    display: block;
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
    position: absolute;
    top: 90%;
    animation: h1Call 3s steps(90);
}


  .header-img .scroll-down i {
    color: #fff;
    font-size: 1.2em;
    
    animation: arrow-down ease 2s infinite;
  }
  
  @keyframes arrow-down {
    0% {
      transform: translateY(0);
    }
  
    30% {
      transform: translateY(10px);
    }
  }
  
  /*=======ALL SECTION COMMOM STYLES=======*/
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section {
    position: relative;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 2rem 2rem;
  }




